<a href="https://colab.research.google.com/github/ashwinsathish/DPS_task/blob/main/Acc_Prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
!apt-get install git

Reading package lists... Done
Building dependency tree
Reading state information... Done
git is already the newest version (1:2.25.1-1ubuntu3.10).
0 upgraded, 0 newly installed, 0 to remove and 22 not upgraded.

In [9]:
!ls

Monthly_accidents.csv  Monthly_accidents_filtered.csv  sample_data

In [8]:
!git config --global user.email "f20200893@pilani.bits-pilani.ac.in"
!git config --global user.name "ashwinsathish"
!git remote add origin https://github.com/ashwinsathish/DPS_task.git

fatal: not a git repository (or any of the parent directories): .git

In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv("Monthly_accidents.csv")
print(df.iloc[:5, :5])

       MONATSZAHL AUSPRÄGUNG  JAHR   MONAT  WERT
0  Alkoholunfälle  insgesamt  2022  202201   NaN
1  Alkoholunfälle  insgesamt  2022  202202   NaN
2  Alkoholunfälle  insgesamt  2022  202203   NaN
3  Alkoholunfälle  insgesamt  2022  202204   NaN
4  Alkoholunfälle  insgesamt  2022  202205   NaN

In [3]:
# translating column names to English 
df = df.rename(columns={"MONATSZAHL": "Category", "AUSPRÄGUNG": "Accident-Type", "JAHR": "Year", "MONAT": "Month", "WERT": "Value"})

In [4]:
print(df.iloc[:5, :])

         Category Accident-Type  Year   Month  Value  VORJAHRESWERT  \
0  Alkoholunfälle     insgesamt  2022  202201    NaN           16.0
1  Alkoholunfälle     insgesamt  2022  202202    NaN           14.0
2  Alkoholunfälle     insgesamt  2022  202203    NaN           24.0
3  Alkoholunfälle     insgesamt  2022  202204    NaN           16.0
4  Alkoholunfälle     insgesamt  2022  202205    NaN           24.0

   VERÄND_VORMONAT_PROZENT  VERÄND_VORJAHRESMONAT_PROZENT  \
0                      NaN                            NaN
1                      NaN                            NaN
2                      NaN                            NaN
3                      NaN                            NaN
4                      NaN                            NaN

   ZWÖLF_MONATE_MITTELWERT
0                      NaN
1                      NaN
2                      NaN
3                      NaN
4                      NaN

In [5]:
# filtering the table to the required no. of columns
new_df = df[["Category", "Accident-Type", "Year", "Month", "Value"]]
new_df.to_csv("Monthly_accidents_filtered.csv", index=False)
print(new_df.iloc[:5, :])

         Category Accident-Type  Year   Month  Value
0  Alkoholunfälle     insgesamt  2022  202201    NaN
1  Alkoholunfälle     insgesamt  2022  202202    NaN
2  Alkoholunfälle     insgesamt  2022  202203    NaN
3  Alkoholunfälle     insgesamt  2022  202204    NaN
4  Alkoholunfälle     insgesamt  2022  202205    NaN

In [6]:
new_df1 = new_df.dropna()
new_df1.head()

          Category Accident-Type  Year   Month  Value
12  Alkoholunfälle     insgesamt  2021   Summe  383.0
13  Alkoholunfälle     insgesamt  2021  202101   16.0
14  Alkoholunfälle     insgesamt  2021  202102   14.0
15  Alkoholunfälle     insgesamt  2021  202103   24.0
16  Alkoholunfälle     insgesamt  2021  202104   16.0

In [ ]:
# new slide